
.input-group{
    width: 20%;
    .form-control{
        width: 200px;
        padding:10px;
        margin: 5px 10px 10px 10px;
    }
    .custom-select{
        width: 200px;
        margin: 4px 10px 10px 10px;
    }
    .sort_label{

        margin: 10px;
    }
    .search_label{
        margin: 10px;
    }
}


  
  
  
  
  
  
  